{% extends "profile/base.html" %}
{% load i18n bootstrap %}

{% block extracss %}
    <link href="{{STATIC_URL}}js/lightbox/css/lightbox.css" rel="stylesheet">
{% endblock %}

{% block extrajs %}
    {{ form.media }}
{% endblock %}

{% block container %}

<div class="col-sm-9">
	<h2>{% trans "Your blog data" %}</h2>

  <ul class="nav nav-tabs" role="tablist">
    {% if user.get_blog %}<li role="presentation" class="active"><a href="#config" aria-controls="config" role="tab" data-toggle="tab">{% trans "Blog configuration" %}</a></li>{% endif %}
    <li role="presentation" {% if not user.get_blog %}class="active"{% endif %}><a href="#import" aria-controls="import" role="tab" data-toggle="tab">{% trans "Import" %}</a></li>
    {% comment %}{% if user.get_blog %}<li role="presentation"><a href="#export" aria-controls="export" role="tab" data-toggle="tab">{% trans "Export" %}</a></li>{% endif %}{% endcomment %}
  </ul>


  <div class="tab-content">
      <div role="tabpanel" class="tab-pane {% if user.get_blog %}active{% endif %}" id="config">
        	<form action="{{request.path}}" method="POST" ENCTYPE="multipart/form-data">
        	{% csrf_token %}
        	{% for field in form %}
                {% if field.name == 'header_image' %}
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="id_header_image" class="control-label ">{{field.label_tag}}</label>
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="{{blog.get_photo.get_configuration_url}}" data-lightbox="image-1" data-title="{% trans 'Header image' %}">
                                    <img class="img-responsive" src="{{blog.get_photo.get_configuration_url}}"/>
                                </a>
                            </div>
                            <div class="col-sm-12">
                              <p>{% trans 'This is your default header image. If you want to change it, select from your file system with the button below:' %}</p>
                              <p>{{field}}</p>
                              <p>{% trans 'Recommended sizes:' %}</p>
                              <ul>
                                  <li>{% trans '1900x300px (horizontal)' %}</li>
                                  <li>{% trans '390x400px (vertical)' %}</li>
                              </ul>
                              <p>{{field.help_text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif field.name == 'template' %}
                <div class="col-sm-12">
              		<div class="form-group">
              			<label for="id_analytics_code" class="control-label ">{% trans 'Template' %}</label>
              			<div class="row">
        		            {% for radio in field %}
        		            <div class="col-sm-3">
                            <a href="{{STATIC_URL}}img/templates/{{radio.choice_label|slugify}}.gif" data-lightbox="image-1" data-title="{{radio.choice_label}}">
          		            	    <img class="img-responsive" src="{{STATIC_URL}}img/templates/{{radio.choice_label|slugify}}.gif" />
                            </a>
          		            	<p>{{radio}}</p>
        		            </div>
        		            {% endfor %}
        		        </div>
        	        </div>
        	    </div>
              {% elif field.name == 'license' %}
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="id_license" class="control-label  ">{% trans 'License' %}</label>
                        <ul>
                            {% for radio in field %}
                            <li class="list-unstyled">
                                {{radio}} {% if radio.choice_label == 'CC-BY-SA' %}(<a href="{% url 'about' %}#license">{% trans 'What is CC-BY-SA license?' %}</a>){% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
        	    {% else %}
        	    <div class="col-sm-12">
                    {{field|bootstrap}}
                </div>
                {% endif %}
            {% endfor %}
        	   <div class="col-sm-12">
              <div class="form-group">
                <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
              </div>
            </div>
        	</form>
      </div>
      <div role="tabpanel" class="tab-pane {% if not user.get_blog %}active{% endif %}" id="import">
          {% include 'base/import_new_blog.html' %}
      </div>
      <div role="tabpanel" class="tab-pane" id="export">
          <p>{% trans 'Export your blog data to WordPress XML format' %}</p>
          <button class="btn btn-default">{% trans 'Export your blog' %}</button>
      </div>
  </div>
</div>


{% endblock %}

{% block footerjs %}
    <script type="text/javascript" src="{{STATIC_URL}}js/lightbox/js/lightbox.js"></script>
{% endblock %}