{% extends "base/base.html" %}
{% load i18n bootstrap %}

{% block header %}{% endblock %}

{% block extracss %}
    <link href="{{STATIC_URL}}js/select2/css/select2.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-datetimepicker.min.css" />
{% endblock %}

{% block extrajs %}
    {{ form.media }}
    <script src="{{STATIC_URL}}js/select2/js/select2.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/select2/js/i18n/eu.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/moment.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/transition.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/collapse.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-datetimepicker.js"></script>
{% endblock %}

{% block body %}

<h1>{% block bodytitle %}{% trans 'New article' %}{% endblock %}</h1>

<form id="article_form" {% block form_url %}action="{% url 'add_article' blog.slug %}"{% endblock %} role="form" method="POST" ENCTYPE="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        {% if field.name == 'publish_date' %}
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label  ">{{field.label}}</label>
                <div class='input-group date' id='id_publish_date'>
                    <input class="form-control" name="publish_date" value="{{field.value}}" type="text">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        {% elif field.name != 'featured_image' %}
        <div class="col-sm-12">
            {{field|bootstrap}}
        </div>
        {% else %}
            {% if article and article.featured_image %}
            <div class="col-sm-4">
                <img class="img-responsive" src="{{article.featured_image.get_related_url}}"/>
            </div>
            {% endif %}
            <div class="col-sm-8">
            {{field|bootstrap}}
            </div>
        {% endif %}
    {% endfor %}
    <div class="col-sm-12">
      <div class="form-group">
        <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
      </div>
    </div>
</form>


{% block footer_js %}
  <script type="text/javascript">
    $('#id_categories').select2({
        language: "eu",
        placeholder: "{% trans 'Select or create new category' %}",
        minimumInputLength: 2,
        tags: true,
        ajax: {
            url: "{% url 'ajax_categories' %}",
            processResults: function (data) {
              return {
                results: data
              };
            }
        }
    });
    $('#id_related_posts').select2({
        language: "eu",
        minimumInputLength: 3,
        placeholder: "{% trans 'Select related articles' %}",
        ajax: {
            url: "{% url 'ajax_related_posts' %}",
            processResults: function (data) {
              return {
                results: data
              };
            }
        }
    });
    $('#id_publish_date').datetimepicker({locale: 'eu'});
  </script>

{% endblock %}




{% endblock %}
