{% extends "base/base.html" %}
{% load i18n bootstrap voting_tags %}

{% block extracss %}
    <link href="{{STATIC_URL}}js/lightbox/css/lightbox.css" rel="stylesheet">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@BlogakEus" />
    <meta name="twitter:title" content="{{article.title}}" />
    <meta name="twitter:description" content="{{article.get_summary|striptags}}" />
    <meta name="twitter:image" content="{{article.featured_image.image.url}}" />

    <meta property="og:title" content="{{article.title}}" />
    <meta property="og:description" content="{{article.get_summary|striptags}}" />
    {% if article.featured_image %}
    <meta property="og:image" content="{{article.featured_image.image.url}}" />
    {% endif %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    function compare_scroll(div_top) {
        if (div_top <= $(document).scrollTop()) {
                $(".blog-brand").hide();
                $(".social-buttons").fadeIn("slow");
            }
            else {
                $(".social-buttons").hide();
                $(".blog-brand").fadeIn("slow");
            }
    }

    $(document).ready(function() {
        var signature_div = $(".signature");
        var div_top = signature_div.offset().top;

        compare_scroll(div_top);

        $(document).scroll(function() {
            compare_scroll(div_top);
        });
    });
</script>
{% endblock %}

{% block title %}{{article.title}} - {{blog.name}} - {% endblock %}

{% block header %}{% endblock %}

{% block stripbody %}
class="col-md-8 col-md-offset-2 articletext"
{% endblock %}

{% block body %}

{% score_for_object article as score %}

{% if draft_status %}
    <div class="alert alert-warning" role="alert">{% blocktrans %}This post is still in <strong>Draft</strong> status{% endblocktrans %}</div>
{% elif future_date %}
    <div class="alert alert-warning" role="alert">{% blocktrans with date=article.publish_date %}This post has still a future date: <strong>{{date}}</strong>{% endblocktrans %}</div>
{% endif %}
<div class="row">
    <div class="col-sm-12">
        <h1>{{article.title}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 signature">
        <span><a href="{% url 'blog_index' article.blog.slug %}"><img class="img-responsive img-circle pull-left" src="{{article.blog.user.get_photo.get_profile_url}}" alt="{{article.blog.user.get_photo.caption}}"/></a></span> <span><a href="{% url 'blog_index' article.blog.slug %}">{{article.blog}}</a></span> | <span class="glyphicon glyphicon-time"></span> {{article.publish_date}}
    </div>
    <div class="col-sm-4 text-right">
        {% if score.score > 0 %}<span class="badge">{{score.score}} <i class="glyphicon glyphicon-thumbs-up"></i></span>{% endif %}{% if article.get_comments_count %} <span class="badge">{{article.get_comments_count}} <i class="glyphicon glyphicon-comment"></i></span>{% endif %}
    </div>
    <div class="col-sm-12">
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        {% if article.featured_image %}
        <a href="{{article.featured_image.get_display_url}}" data-lightbox="image-1" data-title="{{article.featured_image.title}}"><img class="img-responsive center-block" src="{{article.featured_image.get_home_url}}" alt="{{article.featured_image.title}}"/></a>
        <hr/>
        {% endif %}

        <p>{{article.text|safe}}</p>
        
        <div class="row articlefooter">
            <div class="col-sm-4">
                {% vote_by_user user on article as vote %}
                <h4 id="score"> 
                    {% if vote %}
                    {{score.score}} <i class="glyphicon glyphicon-thumbs-up"></i>
                    {% else %}
                    {% if user.is_authenticated %}
                    <form action="{% url 'vote_on_object' article.id 'up' %}" method="post" name="voting">
                        {% csrf_token %}
                        <a href="javascript:document.voting.submit();" name="submit">{% if score.score > 0 %}{{score.score}}{% else %}{% trans 'Like' %}{% endif %} <i class="glyphicon glyphicon-thumbs-up"></i></a>
                    </form>
                    {% else %}
                    <a href="{% url 'cssocialuser_user_login' %}?next={{request.path}}">{% if score.score > 0 %}{{score.score}}{% else %}{% trans 'Like' %}{% endif %} <i class="glyphicon glyphicon-thumbs-up"></i></a>
                    {% endif %}
                {% endif %}
                </h4>
                {% include 'social_buttons.html' %}
            </div>
            <div class="col-sm-8 pull-right text-right">
            {% for c in article.categories.all %}
               <span class="label label-default"><a href="{% url 'category' c.slug %}">{{c.title}}</a></span>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% if article.related_posts.all  %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{% trans 'Related posts' %}</h2>
    </div>

    {% for related in article.related_posts.all %}
    <div class="col-lg-12">
        <ul class="list-unstyled">
            <li><a href="{% url 'article' related.blog.slug related.slug %}">{{related.title}}</a></li>
        </ul>
    </div>
    {% comment %}
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            {% if related.featured_image %}
            <a class="thumbnail" href="{% url 'article' related.blog.slug related.slug %}">
                <img class="img-responsive" src="{{related.featured_image.get_related_url}}" alt="{{related.featured_image.caption}}">
            </a>
            {% else %}
            <h3><a href="{% url 'article' related.blog.slug related.slug %}">{{related.title}}</a></h3>
            {% endif %}
    </div>
    {% endcomment %}
    {% endfor %}
</div>
{% endif %}


{% if article.allow_comments %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{% trans 'Comments' %}</h2>
    </div>
    <div class="col-lg-12">
    {% if article.get_comments %}
        <!-- Posted Comments -->
        {% for comment in article.get_comments %}

            <!-- Comment -->
            {% include "base/comment.html" with comment=comment %}

        {% endfor %}

    {% endif %}

    <br>
    <div class="well">
        <h4>{% trans 'Leave a Comment:' %}</h4>
        <form action="{% url 'add_comment' blog.slug article.slug %}" method="post" role="form">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
        </form>
    </div>
    </div>
</div>
{% endif %}

{% if user.is_authenticated %}
<div class="modal fade" id="ModalDelete" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{% trans 'Delete article' %}</h4>
            </div>
            <div class="modal-body">
                <p><strong>{% trans 'IMPORTANT!!' %}</strong></p>
                <p><strong>{% trans 'Are you sure you want to DELETE this article?' %}</strong></p>
                <p>{% trans 'If you accept, this article will be DELETED irreversibly' %}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                <a href="{% url 'delete_article' user.get_blog.slug article.slug %}" class="btn btn-primary pull-right" name="confirm">{% trans 'Yes, I am sure' %}</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block footerjs %}
    <script type="text/javascript" src="{{STATIC_URL}}js/lightbox/js/lightbox.js"></script>
    <script type="text/javascript">
        $(function () {
          $('[data-toggle="popover"]').popover()
        });
    </script>
{% endblock %}