{% extends "base.html" %}
{% load i18n social_share %}

{% block extracss %}
<link href="{{STATIC_URL}}js/lightbox/css/lightbox.css" rel="stylesheet">
<style type="text/css">
    {% include blog.get_blog_template with article=article %}
</style>
{% endblock %}

{% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if not 'users' in request.path or user.get_blog %}
                    <a class="navbar-brand" href="/" title="{% trans 'Bitakora home page' %}">
                    {% if CUSTOM_MINILOGO %}
                        <img class="img-responsive" src="{{CUSTOM_MINILOGO}}" />
                    {% else %}
                        <strong>B</strong></a>
                    {% endif %}
                    </a> <a class="navbar-brand blog-brand" href="{% url 'blog_index' blog.slug %}" title="{{blog.name}}">{{blog.name}}</a>
                {% else %}
                        <a class="navbar-brand" href="/">
                        {% if CUSTOM_LOGO %}
                            <img class="img-responsive" src="{{CUSTOM_LOGO}}" />
                        {% else %}
                            Bitakora
                        {% endif %}
                        </a>
                {% endif %}
                <div class="social-buttons nav navbar-nav">
                    {% if article %}
                        {% post_to_twitter article.title article %}
                        {% post_to_facebook article %}
                        <div class="whatsapp-this hidden-lg">
                            <a href="whatsapp://send?text={{article.title}}%20{{request.build_absolute_uri}}">Post to Whatsapp</a>
                        </div>
                        <div class="telegram-this hidden-lg">
                            <a href="tg://msg?text={{article.title}}%20{{request.build_absolute_uri}}">Post to Telegram</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul id ="useroptions" class="nav navbar-nav navbar-right"></ul>
                <form class="navbar-form navbar-right" role="search" action="/search/">
                    <div class="form-group">
                        <input id="id_q" type="search" class="form-control" placeholder="Search" name="q">
                    </div>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
{% endblock %}

{% block maincontainer %}

{% block header %}
{% if blog.template == 'one-page-wonder.css' %}
    <header class="header-image hidden-xs"></header>
{% endif %}
{% endblock %}

<div class="container">
    <div class="row">

		<div {% block stripbody %}class="col-md-12"{% endblock %}>
			{% block body %}
			{% endblock %}
		</div>

    </div>

    <hr>

	<!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-sm-10">
                {% block footer%}
                    <p>{% blocktrans %}Developed by <a href="http://www.codesyntax.com">CodeSyntax</a>. Software: <a href="https://www.djangoproject.com/">Django</a>.{% endblocktrans %}</p>
                {% endblock %}
            </div>
            {% if blog %}
            <div class="col-sm-2">
                <p><img class="img-responsive" src="{{STATIC_URL}}img/{{blog.license}}.png" /></p>
            </div>
            {% endif %}
        </div>
        <!-- /.row -->
    </footer>

    {% block footerjs %}
        <script type="text/javascript" src="{{STATIC_URL}}js/lightbox/js/lightbox.js"></script>
        <script type="text/javascript">
        $(function () {
          $('[data-toggle="popover"]').popover()
        });
    </script>
    {% endblock %}

    {% if blog.analytics_code %}
    <script type="text/javascript">
    {{blog.analytics_code}}
    </script>
    {% endif %}

</div>
{% endblock %}