{% extends "base/base.html" %}
{% load i18n pagination_tags %}

{% block title %}{{blog.name}} - {% trans 'Bitakora' %}{% endblock %}

{% block body %}

{% if blog.template == 'one-page-wonder.css' and flavour != "mobile" %}
<div class="row text-center">
	<div class="col-sm-12 blogtitle">
		<h1>{{blog.name}}</h1>
		{% if blog.tagline %}<span class="tagline">{{blog.tagline}}</span>{% endif %}
	</div>
</div>
{% elif flavour == "mobile" %}
<div class="row text-center">
    <div class="col-sm-12 blogtitle">
        <h1>{{blog.name}}</h1>
        {% if blog.tagline %}<span class="tagline">{{blog.tagline}}</span>{% endif %}
    </div>
</div>
{% endif %}

<div class="row">
	<div class="col-md-7">
		{% autopaginate blog.get_articles 10 as articles %}
		{% for article in articles %}
			{% include "base/article_list.html" with article=article %}
		{% empty %}
		<hr/>
		<div class="row">
			<div class="col-sm-12">
            {% if request.user == blog.user %}
				<div class="alert alert-success" role="alert">
					<strong>{% trans 'Well done!' %}</strong> {% trans 'Your blog was successfully created. Now you can start posting your stuff' %} <a href="{% url 'add_article' blog.slug %}">{% trans 'from here!' %}</a>
				</div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    <strong>{% trans 'Sorry...' %}</strong> {% trans 'This blog seems to be empty. Hopefully there will be some content in a short time!' %}
                </div>
            {% endif %}
			</div>
		</div>
		{% endfor %}
		{% paginate %}
	</div>
	<div class="col-md-offset-1 col-md-4">

    {% if blog.template != 'one-page-wonder.css' and flavour != "mobile" %}
        <div class="left-header row text-center">
            <div class="col-sm-12">
                <div class="clear-opacity">
                    <h1>{{blog.name}}</h1>
                    {% if blog.tagline %}<span class="tagline">{{blog.tagline}}</span>{% endif %}
                </div>
            </div>
            <div class="header-image"></div>
        </div>
    {% endif %}

		<div class="row well userpanel">
			<div class="col-sm-12">
				<img class="img-responsive img-thumbnail center-block" src="{{blog.user.get_photo.get_blog_user_url}}" alt="{{blog.user.photo.caption}}" />
				<hr/>
				<h4>{{blog.user.get_fullname}}</h4>
				{% if blog.user.bio %}<p>{{blog.user.bio|safe}}</p>{% endif %}
				<p>
                    {% if blog.user.twitter_id %}<a href="http://twitter.com/{{blog.user.twitter_id}}"><img src="{{STATIC_URL}}img/share/twitter_icon.png"/></a>{% endif %}
                    {% if blog.user.facebook_id %}<a href="http://facebook.com/{{blog.user.facebook_id}}"><img src="{{STATIC_URL}}img/share/facebook_icon.png"/></a>{% endif %}
                </p>
			</div>
		</div>

        {% if categories %}
		<div class="row well">
            <div class="col-sm-12">
            <h4>{% trans 'Blog Categories' %}</h4>
            {% for cat in categories %}
                {% if forloop.first or forloop.counter|divisibleby:5 %}
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                {% endif %}
                            <li><a href="{% url 'category' cat.slug %}">{{cat.title}}</a></li>
                {% if forloop.last or forloop.counter|divisibleby:4 %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
           	</div>
        </div>
        {% endif %}

        {% if blog.custom_html %}
        <div class="row well">
            <div class="col-sm-12">
                {{blog.custom_html|safe}}
            </div>
        </div>
        {% endif %}

		{% if blog.get_last_comments %}
		<div class="row well">
			<div class="col-sm-12">
				<h4>{% trans 'Last comments' %}</h4>
				{% for comment in blog.get_last_comments %}
					{% include 'base/short_comment.html' with comment=comment %}
				{% endfor %}
			</div>
		</div>
		{% endif %}
		<div class="row well">
			<div class="col-sm-12">
				<h4>{% trans 'Sindication' %}</h4>
				<a href="{% url 'blog_rss' blog.slug %}"><img src="{{STATIC_URL}}img/rss.png"/></a>
			</div>
		</div>
	</div>
</div>

{% endblock %}