{% load i18n %}

{% if comment.status == 1 or request.user == comment.parent.blog.user %}
<div id="{{comment.id}}" class="media anchor" {% if comment.status == 2 %}style="opacity: 0.5;"{% endif %}>
    {% if comment.user.get_blog %}
    <a href="{% url 'blog_index' comment.user.get_blog.slug %}">
        <img class="pull-left media-object" src="{{comment.user.get_photo.get_profile_url}}" alt="{{comment.user.photo.title}}" title="{{comment.user.photo.title}}">
    </a>
    {% elif comment.user %}
        <img class="pull-left media-object" src="{{comment.user.get_photo.get_profile_url}}" alt="{{comment.user.photo.title}}" title="{{comment.user.photo.title}}">
    {% else %}
        <img class="pull-left media-object" src="{{PROFILE_PHOTO_DEFAULT.get_profile_url}}" alt="{{comment.nickname}}" title="{{comment.nickname}}">
    {% endif %}
    <div class="media-body">
        <h4 class="media-heading">
            {% if comment.user.get_blog %}
                <a href="{% url 'blog_index' comment.user.get_blog.slug %}">{{comment.user.get_fullname}}</a>
            {% elif comment.user %}
                {{comment.user.get_fullname}}
            {% else %}
                {{comment.nickname}}
            {% endif %}
            <small>{{comment.publish_date}} <a href="{{comment.get_absolute_url}}#{{comment.id}}">#{{forloop.counter}}</a></small>
            {% if blog.user == request.user %}<a tabindex="0" data-toggle="popover" data-container="body" data-trigger="focus" data-title="{% trans 'Comment status' %}" data-content="<ul class='list-unstyled'><li><a href='{% url 'change_comment_status' %}?comment_id={{comment.id}}&status=1&next={{request.path}}'>{% trans 'Visible' %}</a></li><li><a href='{% url 'change_comment_status' %}?comment_id={{comment.id}}&status=2&next={{request.path}}''>{% trans 'Visible only for admin' %}</a></li><li><a href='{% url 'change_comment_status' %}?comment_id={{comment.id}}&status=3&next={{request.path}}''>{% trans 'Delete' %}</a></li></ul>" data-placement="left" data-html="true" class="pull-right"><i class="glyphicon glyphicon-cog"></i></a>
            {% endif %}
        </h4>
        <p>{% block text %}{{comment.text|linebreaks|safe}}{% endblock %}</p>
    </div>
</div>
{% endif %}