{% extends "base/base.html" %}
{% load i18n bootstrap pagination_tags %}

{% block header %}{% endblock %}

{% block body %}

<h1>{% block bodytitle %}{% trans 'Dashboard' %}{% endblock %}</h1>

<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#articles" aria-controls="articles" role="tab" data-toggle="tab">{% trans "My articles" %}</a></li>
	<li role="presentation"><a href="{% url 'my_comments' user.get_blog.slug  %}" role="tab">{% trans "Comments" %}</a></li>
</ul>


<div class="tab-content">
    <div role="tabpanel" class="tab-pane {% if user.get_blog %}active{% endif %}" id="config">
		<table class="table table-striped">
			<thead>
				<th>{% trans 'Title' %}</th>
				<th>{% trans 'Status' %}</th>
				<th>{% trans 'Published from' %}</th>
				<th>{% trans 'Thumbnail' %}</th>
			</thead>
			<tbody>
				{% autopaginate blog.get_myposts 20 as posts %}
				{% for post in posts %}
				<tr>
					<td><a href="{% url 'article' post.blog.slug post.slug %}">{{post.title}}</a></td>
					<td>{{post.get_status_display}}</td>
					<td>{{post.publish_date}}</td>
					<td>{% if post.featured_image %}<img class="img-responsive" src="{{post.featured_image.get_admin_thumbnail_url}}">{% endif %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% paginate %}
	</div>
</div>
{% endblock %}