{% load i18n bootstrap %}

<p>{% trans 'Import your blog data from WordPress XML' %}</p>
<button class="btn btn-primary" data-toggle="modal" data-target="#importfile">{% trans 'Import your blog' %}</button>

<div class="modal fade" id="importfile" tabindex="-1" role="dialog" aria-labelledby="importfileLabel" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
	        <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	            <h4 class="modal-title" id="catalogModalLabel">{% trans 'Import Wordpress XML' %}</h4>
	        </div>
	        <div class="modal-body col-sm-12">
	            {{wp_form|bootstrap}}
	        </div>
	        <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
	            <a href="#" class="btn btn-primary">{% trans 'Import' %}</a>
	        </div>
	    </div>
	</div>
</div>