{% load i18n %}

<p class="socialButton">
    <a href="https://twitter.com/intent/tweet?url=http://{{HOST}}{{article.get_absolute_url|urlencode}}&amp;text={{article.title|urlencode}}{% if article.blog.user.twitter_id %}&via={{article.blog.user.twitter_id}}{% endif %}" target="_blank">
      <img src="{{STATIC_URL}}img/share/twitter_icon.png" alt="twitter" title="twitter" />
    </a>

    <a href="http://www.facebook.com/share.php?u=http://{{HOST}}{{article.get_absolute_url|urlencode}}" target="_blank">
      <img src="{{STATIC_URL}}img/share/facebook_icon.png" alt="facebook" title="facebook" />
    </a>

    {% if flavour == "mobile" %}
    <a href="whatsapp://send?text={{article.title|urlencode}}%20http://{{HOST}}{{article.get_absolute_url|urlencode}}" data-text="Begiratu hau..." data-href="" class="wa_btn wa_btn_s" >
        <img src="{{STATIC_URL}}img/share/whatsapp.png" alt="whatsapp" title="whatsapp">
    </a>
    <a href="tg://msg?text={{article.title|urlencode}}%20http://{{HOST}}{{article.get_absolute_url|urlencode}}" data-text="Begiratu hau..." data-href="" class="wa_btn wa_btn_s" >
        <img src="{{STATIC_URL}}img/share/telegram.png" alt="telegram" title="telegram">
    </a>
    {% endif %}
</p>