<ul class="list-unstyled list-inline">
    <li><a title="Gipuzkoako foru aldundia" href="http://www.gipuzkoa.net/kultura/index.html" rel="nofollow"><img class="img-responsive" src="{{STATIC_URL}}img/custom/sponsors/gfa_display.png" alt="Gipuzkoako Foru aldundia" title="Gipuzkoako Foru aldundia"/></a></li>
    <li><a title="Eusko jaurlaritzak" href="http://www.kultura.ejgv.euskadi.net/r46-704/eu/" rel="nofollow"><img class="img-responsive" src="{{STATIC_URL}}img/custom/sponsors/jaurlaritza_display.png" alt="Eusko jaurlaritza" title="Eusko jaurlaritza"/></a></li>
</ul>