{% extends "registration/base.html" %}
{% load i18n bootstrap %}

{% block body %}
	<h3>{% trans 'Sign in or create an account' %}</h3>
	<div class="row">
		<a rel="nofollow" href="{% url 'social:begin' 'twitter' %}{% if next %}?next={{next}}{% endif %}" class="tw-share-btn">
			<img src="{{STATIC_URL}}img/share/twitter_white.png" /><span> {% trans 'Sign in with Twitter' %}</span>
		</a>
	</div>
	<div class="row">
		<a rel="nofollow" href="{% url 'social:begin' 'facebook' %}{% if next %}?next={{next}}{% endif %}" class="fb-share-btn">
				<img src="{{STATIC_URL}}img/share/facebook_white.png" /><span> {% trans 'Sign in with Twitter' %}</span>
		</a>
	</div>
	<hr/>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4 text-left">
			<form method="post" action="{% url 'auth_login' %}">
			    {% csrf_token %}
				{{form|bootstrap}}
				<input type="submit" value="{% trans "Sign in" %}" class="btn btn-primary" /> <a href="{% url "registration_register" %}"> {% trans 'or create an account' %}</a>
				<input type="hidden" name="next" value="{{next}}" />
				<br/>
				<a href="{% url "auth_password_reset" %}">{% trans 'Forgot your password?' %}</a>
			</form>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div>{% trans 'If you sign up with Twitter or Facebook, we’ll start you off with a network by automatically importing any followers/followees or friends already on Bitakora. Also, we’ll never post to Twitter or Facebook without your permission. For more info, please see' %} <a href="{% url 'learn-more' %}" class="link">{% trans 'Login FAQ' %}</a>.</div>
	</div>
{% endblock %}