{% extends "registration/registration_base.html" %}
{% load i18n bootstrap %}

{% block body %}

{% if validlink %}
<h3>{% trans "New password" %}</h3>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-left">
        <p>{% trans "Please enter twice the new password" %}</p>
        <form method="post" action=".">
          {% csrf_token %}
          {{ form|bootstrap }}
          <input class="btn btn-primary btn-lg" type="submit" value="{% trans 'Submit' %}" />
        </form>

        {% else %}

        <p>{% trans "Password reset failed" %}</p>
    </div>
</div>
{% endif %}

{% endblock %}