{% extends "registration/registration_base.html" %}
{% load i18n bootstrap %}

{% block mainbody %}
<div class="col-sm-4">
  <div class="circle"><a href="#pertsonala">
      <img src="/static/img/circle.png" />
      <h3 class="overlay">Blog pertsonala nahi dut</h3>
    </a>
  </div>
</div>
<div class="col-sm-4">
  <div class="circle"><a href="#irakaslea">
      <img src="/static/img/circle.png" />
      <h3 class="overlay">Irakaslea naiz</h3>
    </a></div>
</div>
<div class="col-sm-4">
  <div class="circle"><a href="#ikaslea">
      <img src="/static/img/circle.png" />
      <h3 class="overlay">Ikaslea naiz</h3>
    </a></div>
</div>
<div class="divider"></div>
<div class="col-sm-8 col-sm-offset-2 text-center">
  <h3 id="pertsonala">Blog Pertsonalak</h3>
  <p>Sortu zure blog pertsonala edo zure elkartearen bloga. Erraz, doan eta euskaraz.</p>
  <a href="{% url 'registration_register' %}" class="btn btn-primary"><strong>EKIN</strong></a>
  <hr class="w-100 text-center" />
  <h3 id="irakaslea">Irakasleak</h3>
  <p>Irakaslea bazara, sortu eta kudeatu zure ikastetxearen blog
    komunitatea. Gelaka eta mailaka ere antolatu ahalko dituzu zure
    blogak, ikasleei baimenak eman, euren edukia kudeatu, eta abar. <a href="{% url 'ikasblogak_info' %}">Informazio
      gehiago >></a></p>
  <a href="{% url 'teacher_registration' %}" class="btn btn-primary"><strong>EKIN</strong></a>
  <hr class="w-100 text-center" />
  <h3 id="ikaslea">Ikasleak</h3>
  <p>Sortu zure ikasbloga. Jarraitu irakasleak emango dizkizun jarraibideak
    (kode bat beharko duzu kontua aktibatzeko). <a
      href="{% url 'ikasblogak_info' %}">Informazio gehiago >></a></p>
  <a href="{% url 'student_registration' %}" class="btn btn-primary"><strong>EKIN</strong></a>
</div>

{% endblock %}